<div class="milkyway-list-container">
    <div class="milkyway-list__upper-bar">
        <milkyway-dropdown></milkyway-dropdown>
        <milkyway-search-bar></milkyway-search-bar>
    </div>
    <ul class="milkyway-list">
        <li class="milkyway-list__item">
            <div class="milkyway-list__item_number">12</div>
            <div class="milkyway-list__item_description">
                <span class="milkyway-list__item-city">Santiago</span>
                <span class="milkyway-list__item-country">Chile</span>
                <span class="milkyway-list__item-title">20/12/2020 - 24/12/2020</span>
            </div>
            <div class="milkyway-list__item_type">Holiday</div>
            <div class="milkyway-list__item_img"></div>
        </li>
    </ul>
    <div class="milkyway-list__bottom-bar">
        <milkyway-dropdown></milkyway-dropdown>
    </div>
</div>