$milkyway-container: #efefef;
$milkyway-container-darker: #cacaca;
$milkyway-flag-stroke: #222222;

$milkyway-primary: #00B8DB;
$milkyway-secondary: #008CA8;
$milkyway-dark: #004C5C;
$milkyway-light: #44C7E1;